CMakeCache.txt
CMakeFiles/
build-stamp
cmake_install.cmake
configure-stamp
debian/files
debian/*.install
debian/*.debhelper
debian/*.substvars
debian/*.log
debian/libsecurity-server-client-0/
debian/libsecurity-server-client-dev/
debian/security-server-dbg/
debian/security-server/
debian/tmp/
install_manifest.txt
libsecurity-server-client.so*
sec-svr-util
security-server.pc
