[Unit]
Description=Default SMACK labeling
ConditionSecurity=smack
DefaultDependencies=no
Requires=smack.service
After=smack.service

[Service]
Type=oneshot
ExecStart=/etc/rc.d/init.d/smack_default_labeling
ExecStart=/etc/rc.d/init.d/apply_onlycap.sh

[Install]
WantedBy=basic.target
